@model Forum.Models.ForumSectionModel
@{
    ViewBag.Title = "Sections";
}
<html>
<form method="post" action="/ForumSection/Index">
    @Html.AntiForgeryToken()  
     Name: @Html.Label(Model.SectionName)
    <blockquote>  </blockquote>
    Display Order: @Html.Label(Model.DisplayOrder.ToString())
    <br/>
    <input type="submit" value="Save" />
    </form>
<form1 method="get" action="/ForumSection/Index">

    Name: @Html.TextBox(Model.SectionName);
    <br />
</form1>
    </html>